body{
  margin-top: 8%;
  text-align: center;
  background-image: url("images/playground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 }

 h1, h2, h3{
    color: white;
 }
.choice-button {
  height: 100px;
  width: 100px;
  border: none;
  margin: 10px;
  background-color: rgb(164, 212, 130);
  border-radius: 20px;
  cursor: pointer;
}

.choice-image {
  height: 75px;
}

.rst-btn{
    border:none;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
}

.rst-img{
    padding-top: 3px;
    height:50px;
}